/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

body {
    background: #0F2847;
    color: white;
    
   margin-bottom: 144px;

}


.card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
     background-color:#0F2847;
    background-clip: border-box;
  
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding-right: 10px;
    margin-right: -33px;
    
}
.white{  color: white;}
.card-body {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: white;}

   
    .checked {
        color: orange;
      }
.text-center {text-align:center;}



a:hover {
  color: #2196f3;
}
















.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}


.rating-stars ul > li.star > i.fa {
  font-size:2.5em;
  color:#ccc;
}


.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}


.rating-stars ul > li.star.selected > i.fa {
  color:#FFCC36;
}

.rating-widget{
    color:#FFCC36;
}